extends layout

block content
  h1 Update Book
  
  include errors
  
  //form(action="/books/" + book.id + "/delete", method="post")
  form(action="/books/" + book.id, method="post")
    include show
