extends layout

block content
  h1= title
  p Welcome to #{title}
  p 
   a(href="/books/new") Create New Book
  
  each book in books
    h2= book.title
    include by_line
    p= book.shortDescription()
    a(href = "/users/" + book.id) Read More &rarr;